<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div class="mb-4">
            <h3>Contacto</h3>
            <span class="text-black-50 fs-4 mb-1">Ya que estás por aquí, déjame tu contacto, a lo mejor nos
                podemos
                echar una
                mano... o una
                🍺</span>
        </div>


        <form class="mb-4" [formGroup]="leadForm" (ngSubmit)="submitLeadInfo(leadForm.value)">
            <div class="d-flex flex-md-row flex-column gap-2 mb-2">
                <input class="form-control form-control-lg" formControlName="name" placeholder="Nombre" type="text">
                <input class="form-control form-control-lg" formControlName="lastname" placeholder="Apellidos"
                    type="text">
                <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="Correo"
                    aria-label="email">
                <button type="submit" class="btn btn-primary btn-lg w-100">Enviar</button>
            </div>
            <div *ngIf="formIsSend" class="alert alert-success" role="alert">
                Información enviada correctamente 🚀

            </div>
        </form>
        <div>
            <span class="text-black-50 fs-4 mb-1">O, si lo prefieres, puedes mandarme un whatsapp haciendo click <a
                    href="https://api.whatsapp.com/send?text=Hola Borja! ¿Qué tal? He visto tu web y me gustaría contactar contigo.&phone=+34722111211&abid=+34722111211"
                    target="_blank">
                    aquí
                </a>
            </span>
        </div>


    </div>

</div>