.arrow {
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    border-style: solid;
    border-color: rgb(27, 26, 26);
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}


@media only screen and (max-width: 600px) {
    .arrow {
        height: 4vw;
        width: 4vw;
    }

}