<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div>
            <div class="mb-4 about-section">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-3">Sobre mi</h3>
                        <p class="text-black-50 fs-4">Estudié la carrera mientras trabajaba en <a
                                href="https://www.europapress.es/" target="_blank">Europa Press</a> y mis compis de
                            universidad y yo fundamos <a href="https://mushingmarketing.com/" target="_blank">Mushing
                                Marketing</a>, una agencia de marketing digital en donde desarrollé webs con Wordpress
                            (un ejemplo es <a href="https://www.tecosa.es/">Tecosa</a> del grupo Siemens).</p>
                        <p class="text-black-50 fs-4">Hice un bootcamp de desarrollo fullstack en <a target="_blank"
                                href="https://www.thebridge.tech/">The
                                Bridge</a>.</p>
                        <p class="text-black-50 fs-4">Actualmente soy desarrollador fullstack en <a
                                href="https://www.vwgroupretail.es/" target="_blank">Volkswagen</a>
                            para el departamento de Business Intelligence
                            y
                            Marketing Digital.</p>

                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center align-items-center p-2">
                            <img class="computer-img" src="assets/svg/man.svg" alt="">
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


<app-button-down [section]="'tech'"></app-button-down>