<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div>
            <div class="mb-4 about-section">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-3">About me</h2>
                        <p class="text-black-50 fs-4">I studied my marketing degree while I was working at <a
                                href="https://www.europapress.es/" target="_blank">Europa Press</a> and my university
                            friends and I founded <a href="https://mushingmarketing.com/" target="_blank">Mushing
                                Marketing</a>, a digital marketing agency where I developed websites with Wordpress
                            (here an example: <a href="https://www.tecosa.es/" target="_blank">Tecosa</a> of Siemens
                            Group).</p>
                        <p class="text-black-50 fs-4">I've made a fullstack developer bootcamp at <a target="_blank"
                                href="https://www.thebridge.tech/">The
                                Bridge</a>.</p>
                        <p class="text-black-50 fs-4">Currently I'm working as fullstack developer at <a
                                href="https://www.vwgroupretail.es/" target="_blank">Volkswagen</a>
                            for the Business Intelligence and Digital Marketing department.</p>

                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center align-items-center p-2">
                            <img class="computer-img" src="assets/svg/man.svg" alt="">
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


<app-button-down [section]="'tech'"></app-button-down>