<div class="container d-flex custom-section">

    <div class="col-4">
        <h3>Sobre mi</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, animi? Iste eos distinctio animi
            incidunt quidem illum quos quisquam autem quibusdam eius nemo ipsa totam provident quia, quasi dolorum
            inventore?</p>
        <span class="text-black-400">asdasd</span>
    </div>
    <div class="col-8">asd</div>

</div>

<app-button-down [section]="'portfolio'"></app-button-down>