<div class="custom-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="d-flex p-3 p-sm-2 flex-column justify-content-center">
                    <img class="img-welcome mb-3" src="assets/svg/welcome.svg" alt="">
                    <h1 class="mb-2">Soy Borja Muñoz Ruiz-Dana</h1>
                    <span class="text-black-50 fs-4 mb-1">Fullstack developer & marketing specialist</span>
                    <span class="text-black-50">Desarrollador fullstack especializado en stack MEARN y MEAN con
                        enfoque
                        en
                        aplicaciones de optimización de recursos y desarrollo empresarial de alto nivel competitivo...
                        bla,
                        bla,
                        bla; enç
                        fin, te ayudo a hacer las cosas más fáciles en menos tiempo.</span>
                    <div class="d-flex flex-row justify-content-md-start justify-content-center mt-3">

                        <a href="/src/assets/files/fullStackCV_Borja.pdf" download> <button
                                class="btn btn-primary me-2">CV</button></a>
                        <a href="#portfolio"><button class="btn btn-primary">Portfolio</button></a>

                    </div>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="d-flex flex-row align-items-center justify-content-end p-3 p-sm-2 mb-5">
                    <div [routerLink]="project._id"
                        [ngClass]="i === 0 ? 'card custom-card prject':'card custom-card-two project'"
                        *ngFor="let project of projects.slice(0,2); index as i" class="card custom-card">
                        <div class="card-header">
                            <ul class="nav nav-pills card-header-pills justify-content-end">

                                <li class="nav-item">
                                    <a class="nav-link" href="project.github">
                                        <img src="assets/svg/github.svg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <img src={{project.projectImage}} class="card-img-bottom" alt="img-test">
                        <div class="card-body">
                            <h5 class="card-title">{{project.name}}</h5>
                            <h6 class="card-subtitle fw-light mb-2 text-muted">{{project.subtitle}}</h6>
                            <p class="card-text">{{project.short_description}}</p>

                            <div class="d-flex flex-row justify-content-end gap-1">
                                <span *ngFor="let tag of project.tags" class="badge text-light bg-secondary">
                                    {{tag}}</span>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
<app-button-down [section]="'about'"></app-button-down>