<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div class="row flex-column-reverse flex-sm-row justify-content-center">
            <div class="col-sm-7">
                <div class="d-flexflex-column justify-content-center">
                    <img class="img-welcome mb-3 mt-sm-2 mt-4" src="assets/svg/welcome.svg" alt="">
                    <h1 class="mb-2">Soy Borja Muñoz Ruiz-Dana</h1>
                    <span class="text-black-50 fs-4">Fullstack developer. Inquieto. Me gusta toquetear cosas, y la
                        mayoría de las
                        veces las arreglo.
                    </span>
                    <div class="d-flex flex-row justify-content-md-start justify-content-center mt-3">

                        <a href="../../../assets/files/fullStackCV_Borja.pdf" download> <button
                                class="btn btn-secondary me-2">CV</button></a>
                        <a href="#portfolio"><button class="btn btn-primary">Portfolio</button></a>

                    </div>

                </div>
            </div>
            <div class="col-sm-5">

                <div class="d-flex h-100 flex-row align-items-center">
                    <div>
                        <video id="scrapper" class="notion-video" autoplay loop>
                            <source src="../../../assets/video/scrapper.mp4" />
                        </video>
                    </div>

                </div>



            </div>


        </div>
    </div>



</div>
<app-button-down [section]="'about'"></app-button-down>