<div  class="container d-flex custom-section">

    <div class="col-6 p-2 d-flex flex-column justify-content-center">
        <h1>HI,I'm Borja web developer</h1>
        <span class="text-black-50">Fullstack developer & marketing specialist</span>
        <span class="text-medium-emphasis">Desarrollador fullstack especializado en stack MEARN y MEAN con enfoque en aplicaciones de optimización de recursos y desarrollo empresarial</span>
        <div class="d-flex flex-row justify-content-start mt-3">
            <button class="btn btn-primary me-2">CV</button>
            <button class="btn btn-primary">portfolio </button>

        </div>

    </div>
    <div class="col-5 d-flex flex-row align-items-center p-2">
        <div class="card custom-card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>
        <div class="card custom-card-two" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

    </div>

</div>
<app-button-down [section]="'about'"></app-button-down>