.project-header{
    width:auto;
}
.project-img img{
    height: 20vh;
    background-color: rgb(13, 3, 3);
    opacity: 90% ;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.name-section h2{
    color: black;
}