.project-header {
    width: auto;
}

.project-img img {
    height: 20vh;
    background-color: rgb(13, 3, 3);
    opacity: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.name-section h2 {
    color: black;
}

.imgProjectSection {
    width: 100%;

}

.imgProject {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
}

.sectionDescription {
    padding-right: 70px;
    max-height: 400px;
    overflow-y: auto;
}