<div class="d-flex flex-row flex-wrap justify-content-start mb-4 gap-2">
    <div *ngFor="let project of projects; index as i" class="card custom-card">
        <div style="height: 200px;" class="rounded-top bg-dark bg-opacity-25 w-100"></div>
        <div class="card-body">
            <h4 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h4>
            <h6 class="card-subtitle mb-2 text-muted placeholder-glow"> <span class="placeholder col-7"></span></h6>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>

            </p>
        </div>

    </div>
</div>