<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div class="mb-4">
            <h2>Organization and management</h2>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <video class="notion-video" autoplay loop>
                            <source src="../../../assets/video/notion_embed.mp4" />
                        </video>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <div>
                    <span class="text-black-50 fs-4 mb-1">
                        I am a person with a tendency to disorder, so I love to be orderly. I have used Notion for this
                        portfolio and its projects, used it while at Mushing and still do at Volkswagen. I have no
                        problem adapting to your company's scrum ceremonies and if you use Jira or Confluence we already
                        have something to talk about✌.
                    </span>
                    <div class="mt-4 d-flex justify-content-center">
                        <a href="https://bit.ly/borjamunozhub" target="_blank"><button class="btn btn-primary btn-lg">
                                Notion profile 👈</button></a>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>


<app-button-down [section]="'contact'"></app-button-down>