<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div class="mb-4">
            <h3>Organización</h3>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <video class="notion-video" autoplay loop>
                            <source src="../../../assets/video/notion_embed.mp4" />
                        </video>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <span class="text-black-50 fs-5 mb-1">
                        Soy una persona con tendencia al desorden, por lo que me encanta ser ordenado. He usado Notion
                        para este portfolio y sus proyectos, mientras estaba en Mushing y lo sigo haciendo en
                        Volkswagen.

                        No tengo ningún problema en adaptarme a las ceremonias scrum de tu compañia y si usas Jira o
                        Confluence tenemos de que hablar ✌.
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>


<app-button-down [section]="'contact'"></app-button-down>