<div class="custom-section p-3 p-sm-2">
    <div class="container">
        <div class="mb-4">
            <h3>Analytics</h3>

            <div id="analyticsDesktop">
                <iframe class="rounded shadow" width="1400" height="850"
                    src="https://lookerstudio.google.com/embed/reporting/5e65f595-6c59-4ea8-9bf3-a2c1a3ab9464/page/eNVUD"
                    frameborder="0" style="border:0; background-color: transparent;" allowfullscreen></iframe>

            </div>
            <div id="analyticsMobile">
                <iframe
                    src="https://lookerstudio.google.com/embed/reporting/cfa72c14-1a44-442a-97ef-b698520bc5b3/page/eNVUD"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>